{% extends "base.html" %}

{% block title %}Products{% endblock title %}
{% comment %} change this later {% endcomment %}
<p>Product List</p>
{% block content %}

<form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}" >
    <input class="form-control mr-sm-2" type="search" name="search">
    <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit"> Search </button>
</form>

{% for product in product_list %}
    <div>
        <div>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>

            {{ product.name }}
        </div>

        <div>
            ${{ product.price}}
        </div>

        <br>
    </div>
{% endfor %}
{% endblock content %}