{% extends "base.html" %}

{% block title %}Product Detail{% endblock title %}

{% block content %}
{% load ratings %}
<div class="product-detail-container" style="text-align: center;">

    <!-- Product Title Centered -->
    <h1 style="font-size: 2.5em; font-weight: bold; margin-bottom: 20px;">{{ product.name }}</h1>

    <!-- Product Price -->
    <div class="product-price" style="font-size: 1.8em; font-weight: bold; margin-bottom: 20px;">
       <p>Price: ${{ product.price|floatformat:2 }}</p>
    </div>

    <!-- Product Image -->
    <div class="product-image">
       <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" style="width: 40%; height: 40%; object-fit: cover;">
    </div>

    <div class="space"></div>

    <!-- Product Rating -->
    <div class="product-rating" style="margin-bottom: 20px;">
        {% ratings product %}
    </div>

    <!-- Product Description -->
    <div class="product-description" style="text-align: left; margin-top: 20px; max-width: 800px; margin-left: auto; margin-right: auto; padding-left: 50px;">
        <p><strong>Description:</strong> {{ product.description }}</p>
    </div>

</div>
{% endblock content %}
