{% extends "base.html" %}

{% block title %}Reviews{% endblock title %}
{% comment %} change this later {% endcomment %}
<p>Review List</p>
{% block content %}

{% if user.verifiedReviewer %}
    {% comment %} <p>Hi {{ user.name }}, you are a Verified Reviewer and can Post Reviews</p> {% endcomment %}
    <a href="">Post a review</a>
{% endif %}


{% for review in review_list %}
<div class="card">
    <div class="card-header">
        <span class="fw-bold">
            <a href="{{ review.get_absolute_url }}">{{ review.title }}</a>
        </span> &middot;
        <span class="text-muted">by {{ review.author }} |
            {{ review.date }}</span>
    </div>

    <div class="card-body">
        <p>{{ review.game }}</p>
        <p>{{ review.body }}</p>
    </div>
    <br>
</div>
{% endfor %}
{% endblock content %}