{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {% load ratings %}

    {% ratings object %}
    
    <div class="review-entry">
        <h2>{{ object.title }}</h2>
        <p>by 
            <!-- Link to the author's profile page -->
            <a href="{% url 'user_profile' object.author.username %}">
                <!-- Display author's profile picture -->
                <img src="{{ object.author.profile_picture.url }}" alt="{{ object.author.username }}" style="width: 30px; height: 30px; border-radius: 50%;"/>
                {{ object.author.name }}
            </a>
            | {{ object.date }}
        </p>
        <p>{{ object.body }}</p>
    </div>

    <hr>
    <h4>Comments</h4>
    {% for comment in review.comment_set.all %}
        <p>{{ comment.author }} &middot; {{ comment }}</p>
    {% endfor %}
{% endblock %}
