{% extends "base.html" %}
{% load static %}
{% block title %}Reviews{% endblock title %}
{% load ratings %}

{% block content %}

<div class="card text-bg-dark border-0" style="height: 100px; overflow: hidden;">
    <img src="{% static 'images/games.jpg' %}" class="card-img" alt="..." style="object-fit: cover; height: 100%; width: auto; float: right;">
    <div class="card-img-overlay d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.75);">
      <h1 class="card-title text-primary">See Our Reviews!</h1>
    </div>
  </div>
  
<div class = "post-container">
    {% if user.verifiedReviewer %}
        {% comment %} <p>Hi {{ user.name }}, you are a Verified Reviewer and can Post Reviews</p> {% endcomment %}
        <a href="{% url 'create_view' %}">Post a review</a>
    {% endif %}

    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'searchRev' %}" >
        <input class="form-control mr-sm-2" type="search" name="searchRev">
        <button class="btn btn btn-info my-2 my-sm-0" type="submit"> Search </button>
    </form>
</div>

<br>

<div class="reviews-container-custom">
    {% for review in review_list %}
      <div class="review-card-custom">
        <!-- Wrap the entire card with an anchor tag to make the whole card clickable -->
        <a href="{{ review.get_absolute_url }}" class="card-link">
          <article class="card-custom">
            <img src="{% if review.image %}{{ review.image.url }}{% else %}{% static 'images/games.jpg' %}{% endif %}" 
     alt="review-thumb" class="card-img-top-custom">
            <div class="card-body-custom">
              <h5 class="card-title-custom">
                {{ review.title }}
              </h5>
              <p>{{ review.body|truncatewords:20 }}</p>
              <time class="small-text">{{ review.date }}</time>
            </div>
          </article>
        </a>
      </div>
    {% endfor %}
</div>


{% endblock content %}