{% extends "base.html" %}
{% load static %}
{% block title %}Reviews{% endblock title %}
{% load ratings %}

{% block content %}

<div class="card text-bg-dark border-0" style="height: 100px; overflow: hidden; position: relative;">
  <!-- Background Image -->
  <img src="{% static 'images/games.jpg' %}" class="card-img" alt="Background Image" 
       style="object-fit: cover; height: 100%; width: 100%; position: absolute; z-index: 0;">

  <!-- Overlay Content -->
  <div class="d-flex justify-content-between align-items-center w-100" 
       style="height: 100%; position: relative; z-index: 1; background-color: rgba(0, 0, 0, 0.75); padding: 0 5%;">
    <!-- Left Section: Text -->
    <div class="text-white" style="flex: 1; text-align: left;">
      <h1 class="card-title">See Our Reviews!</h1>
    </div>
    
    <!-- Right Section: Button -->
    <div style="flex: 1; text-align: right;">
      {% if user.verifiedReviewer %}
      <a href="{% url 'create_review' %}" class="btn btn-info">Post A Review</a>
      {% endif %}
    </div>
  </div>
</div>

<!-- Search Form -->
<div class="post-container" style="margin-top: 20px;">
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'searchRev' %}" style="display: flex; width: 100%; align-items: center;">
        <!-- Search Bar (normal width) -->
        <input class="form-control mr-sm-2" type="search" name="searchRev" style="flex-grow: 1; margin-right: 10px;">
        
        <!-- Solid Search Button -->
        <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<br>

<div class="reviews-container-custom">
    {% for review in review_list %}
      <div class="review-card-custom">
        <!-- Wrap the entire card with an anchor tag to make the whole card clickable -->
        <a href="{{ review.get_absolute_url }}" class="card-link">
          <article class="card-custom">
            <img src="{% if review.image %}{{ review.image.url }}{% else %}{% static 'images/games.jpg' %}{% endif %}" 
     alt="review-thumb" class="card-img-top-custom">
            <div class="card-body-custom">
              <h5 class="card-title-custom">
                {{ review.title }}
              </h5>
              <p>{{ review.body|truncatewords:20 }}</p>
              <time class="small-text">{{ review.date }}</time>
            </div>
          </article>
        </a>
      </div>
    {% endfor %}
</div>


{% endblock content %}